<p>
  courselist works!
</p>


<div>
<button (click)="openCourseURL(1)">course D view Dynamic </button>
<button routerLink="courses:1">course D view static </button>
</div>
<div>
    <button (click)="openCourseArry(1)">Detail view Array </button>
</div>
<div>
    <button (click)="openCourseRelative(1)">course detail relative open</button>
</div>
<br>

<div>
    <!-- <button
    [routerLink]="courses:1" [queryParams]= "[extra: some query data]">
    open detail with query param</button> -->
</div>
