<div class="navbar" >
  <div routerLink="">click here for home</div>
  <a routerLink="home"
   routerLinkActive="navbarcolor"
  [routerLinkActiveOptions]="{exact:true}">
  Home
  </a>
  <a  routerLink="courses" routerLinkActive="navbarcolor">course list</a>
  <a  [routerLink]="['lesson']" routerLinkActive="navbarcolor">Lession</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
  <router-outlet name="playlist"></router-outlet>
</div>
